version: '3.8'

services:
  frontend:
    build:
      context: ./Frontend
    ports:
      - "4200:4200"
    volumes:
      - ./Frontend:/app
    command: ["ng", "serve", "--host", "0.0.0.0"]

  backend:
    build:
      context: ./Backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev

  db:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: app_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: