<div class="category-list">
  <h2 class="alinear">Listado de Categorias</h2>

  <div class="filters">
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Buscar Categorias</mat-label>
      <input matInput [formControl]="searchControl" placeholder="Ingrese el nombre de la categoría"/>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openAddCategoryDialog()">Agregar Nueva Categoría</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-cell">
    <!-- name column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- description column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openEditCategoryDialog(element)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDeleteCategory(element)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
