<div class="product-list">
  <h1>Lista de Productos</h1>

  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Buscar producto</mat-label>
    <input matInput [formControl]="searchControl" placeholder="Ingrese el nombre del producto">
  </mat-form-field>

  <mat-table [dataSource]="filteredProducts" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.price | currency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoría </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.category}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.quantity}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
