.product-list {
  margin: 20px;
}

mat-table {
  width: 100%;
}

mat-header-cell, mat-cell {
  padding: 8px;
}

.search-bar {
  margin-bottom: 20px;
  width: 100%;
}

.filters{
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

.filter{
  min-width: 260px;
  flex: 1;
}
