spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/app_db
    username: admin
    password: nueva
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  profiles:
    active: dev

flyway:
  enabled: true
  locations: classpath:db/migration

server:
  port: 8080

logging:
  level:
    root: info