<h2 mat-dialog-title>Editar producto</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content class="dialog-content">

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
        Nombre requerido (mínimo 2 caracteres)
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Precio</mat-label>
      <input matInput type="number" formControlName="price" />
      <mat-error *ngIf="form.controls.price.touched && form.controls.price.invalid">
        Precio inválido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let c of (data?.categories ?? [])" [value]="c.id">{{ c.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls.categoryId.touched && form.controls.categoryId.invalid">
        Selecciona una categoría
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" formControlName="quantity" />
      <mat-error *ngIf="form.controls.quantity.touched && form.controls.quantity.invalid">
        Cantidad inválida
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">Cerrar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="loading">
      Guardar cambios
    </button>
  </mat-dialog-actions>
</form>
